{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    меньше 1 минуты на чтение
  {% elsif words < 360 %}
    1 минута на чтение
  {% else %}
    {{ words | divided_by:180 }} минуты на чтение
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    меньше 1 минуты на чтение
  {% elsif words < 360 %}
    1 минута на чтение
  {% else %}
    {{ words | divided_by:180 }} минуты на чтение
  {% endif %}
{% endif %}
